{% extends 'base.html.twig' %}

{% block content %}
<div>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <a class="btn-outline-danger" href="#">Volver</a>
    <input class="btn-primary" type="submit"><i class="fas fa-check"></i>Guardar cambio</input>
    {{ form_end(form) }}
</div>
{% endblock %}