{% extends 'base.html.twig' %}

{% block body %}
    <h1>gente</h1>

    <ul>
        {% for user in usuarios %}
         <li> {{ user.nickname }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}

{% endblock %}
