{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenido a la portada de ManiFacebook</h1>

    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('listar_user') }}"><i class="fas fa-home"></i>LISTAR</a>
        </div>
    </nav>
{% endblock %}
{% block title %}
Portada
{% endblock %}