{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenido a la portada de ManiFacebook</h1>
    <a href="{{ path('listar_user') }}">LISTAR</a>
{% endblock %}
{% block title %}
Portada
{% endblock %}